

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  /* Width */
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .App-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    color: white;
    background-color: #191c24;
    min-height: 10vh;
    z-index: 2;
  }
  
  body[data-theme*=dark] .App-header {
    color: white !important;
    background-color: #191c24 !important;
    border-bottom: #111318 0.03em solid;
    transition: all 0.2s linear;
  }
  
  body[data-theme*=light] .App-header {
    color: black !important;
    background-color: #CCCCCC !important;
    border-bottom: #BBBBBB 0.03em solid;
    transition: all 0.2s linear;
  }
  
  .hide {
    display: none;
    transition: all 0.3s ease;
  }
  
  .main-page {
    display: flex;
    min-height: calc(90vh);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: calc(2.6rem + 2vmin);
    margin: 0;
  }
  
  h2 {
    font-size: 2.6rem;
  }
  
  h2, h3, h4, h5 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
  }
  
  h6 {
    margin: 0;
    width: 100%;
  }
  
  .message {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
  }
  
  .message-box {
    top: 10vh;
    min-height: 82vh;
    position: relative;
    padding: 0 1.5em 3.5em 1.5em;
  }
  
  .input-message {
    position: fixed;
    bottom: 0px;
    margin-bottom: auto;
    width: 100%;
    display: flex;
  }
  
  .input-message > *, button {
    font-size: 1.6rem;
    padding: 0.4em;
    outline: none;
    border: none;
  }
  
  .input-message input {
    width: 100%;
    font-size: 1.2rem;
    background: rgb(238, 238, 238);
  }
  
  .login-buttons button {
    margin:  0.7em 0.7em 0.3em;
  }
  
  button {
    color: white;
    background-color: rgb(56, 56, 143);
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  button:hover {
    color: white;
    background-color: rgb(78, 78, 197);
  }
  
  button:focus {
    outline: 3px solid #0b93f6;
  }
  
  .save-button {
    margin-top: 0.6em;
    text-align: end;
  }
  
  .options {
    display: flex;
    align-items: center;
    padding: 0.3em;
    margin-right: 1em;
    position: relative;
    cursor: pointer;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
  }

  .options:hover, .options:active, .options:focus {
    border-radius: 10px;
  }
  
  .dropdownMenu {
    position: absolute;
    right: 3em;
    width: 13em;
    padding: 0.2em 0.3em;
    transform: translateY(5%);
    background-color: rgb(56, 56, 103);
    z-index: 5;
  }
  
  .dropdownMenu Button {
    width: 100%;
    margin: 0.1em 0;
  }
  
  .dropdownBlocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
  
  .options .username {
    font-size: 2rem;
    margin-right: 0.4em;
  }
  
  .option-photo {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.3em;
    background-color: rgb(56, 56, 103);
    z-index: 5;
  }
  
  .settings .option {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0.4em 0;
  }
  
  .settings input {
    font-size: 1.2rem;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form h2 {
    text-align: center;
  }
  
  .signin-form div {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6em;
  }
  
  .signin-form div i {
    position: absolute;
    right: 10px;
    transform: translateY(40%);
    cursor: pointer;
  }
  
  label {
    font-size: 1.3rem;
    margin-right: 1em;
  }
  
  .signin-form div input {
    font-size: 1.2rem;
    border: none;
  }
  
  .sign-in {
    min-width: 120px;
    margin: 0 auto;
  }
  
  body[data-theme*=dark] .sign-in:hover {
    color: #282c34;
    background-color: var(--white-color);
  }
  body[data-theme*=light] .sign-in:hover {
    color: rgb(125, 99, 196);
    background-color: rgb(56, 35, 115);
  }
  
  .sign-in.google {
    color: var(--white-color);
    background-color: #db4437;
    transition: background-color 0.3s ease;
  }
  
  body[data-theme*=dark] .sign-in.google:hover {
    color: #db4437;
    background-color: var(--white-color);
  }
  
  body[data-theme*=light] .sign-in.google:hover {
    color: #db4437;
    background-color: #9b2d23;
  }
  
  .switch-login {
    color: var(--white-color);
  }
  
  .switch-login p {
    margin: 0;
  }
  
  .switch-login span {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fab {
    position: relative;
    top: 0.04em;
  }
  
  p {
    max-width: 500px;
    line-height: 24px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 25px;
    position: relative;
    text-align: center;
  }
  
  .message-content {
    margin: 0 0 0.4em;
  }
  
  .reply {
    margin: auto 10px;
    cursor: pointer;
  }
  
  .reply-field {
    position: fixed;
    width: 100%;
    bottom: 50px;
    margin-bottom: auto;
  }
  
  .reply-field h3 {
    font-weight: 300;
  }
  
  .reply-message {
    top: 8px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.5s ease;
  }
  
  .reply-message .received {
    text-align: start;
  }
  
  .reply-message .sent {
    text-align: end;
  }
  
  .reply-text {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
  }
  
  .received .reply-text {
    background: #bcbcc0;
  }
  
  .sent .reply-text {
    background: #b9e8f7;
    color: var(--black-color)
  }
  
  .reply-exit {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--white-color);
    cursor: pointer;
  }
  
  .message-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message-info .sent {
    text-align: end;
  }
  
  .message-info .received {
    text-align: start;
  }
  
  .received {
    flex-direction: row;
    position: relative;
    left: 10px;
  }
  
  .sent {
    flex-direction: row-reverse;
    position: relative;
    right: 10px;
  }
  
  .sent p {
    color: var(--white-color);
    background: #0b93f6;
    align-self: flex-end;
    text-align: left;
  }
  
  .received p {
    background: #e5e5ea;
    color: var(--black-color);
    align-self: flex-start;
    text-align: left;
  }
  
  .message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 9px 5px;
  }
  
  .options img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  /* COLOUR THEMES */
  
  body[data-theme*=dark] {
    background-color: #282c34;
  }
  
  body[data-theme*=light] {
    background-color: var(--white-color);
  }
  
  body[data-theme*=dark] h1,
  body[data-theme*=dark] h2,
  body[data-theme*=dark] h3,
  body[data-theme*=dark] h4,
  body[data-theme*=dark] h5,
  body[data-theme*=dark] h6,
  body[data-theme*=dark] label,
  body[data-theme*=dark] .switch-login p {
    color: var(--white-color);
  }
  
  body[data-theme*=light] h1,
  body[data-theme*=light] h2,
  body[data-theme*=light] h3,
  body[data-theme*=light] h4,
  body[data-theme*=light] h5,
  body[data-theme*=light] h6,
  body[data-theme*=light] label,
  body[data-theme*=light] .switch-login p {
    color: var(--black-color);
  }
  
  body[data-theme*=dark] .options:hover, .options:active, .options:focus {
    background-color: #111318;
  }
  
  body[data-theme*=light] .options:hover, .options:active, .options:focus {
    background-color: #b4b7be;
  }

  body[data-theme*=light] .option-photo {
    background-color: var(--option-color-light);
    transition: all 0.2s linear;
  }

  body[data-theme*=light] .signin-form div input {
    border: var(--black-color) 1px solid;
  }
  
  body[data-theme*=dark] .reply {
    color: var(--white-color);
  }

  body[data-theme*=light] .reply {
    color: var(--black-color);
  }

  body[data-theme*=dark] .reply-field {
    background-color: #111318 !important;
  }

  body[data-theme*=light] .reply-field {
    background-color: #CCCCCC !important;
  }