body {
  position: relative;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  color: white;
  min-height: calc(10vh);
}

.App-link {
  color: #61dafb;
}

.hide {
  display: none;
  transition: all 0.3s ease;
}

.main-page {
  display: flex;
  min-height: calc(90vh);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: calc(2.6rem + 2vmin);
  margin: 0;
}

h2 {
  font-size: 2.6rem;
}

h2, h3, h4, h5 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  color: #FFF;
}

h6 {
  margin: 0;
  color: #FFF;
  width: 90%;
}

.message {
  margin: 9px 0 6px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.message-box {
  position: relative;
  padding: 0 2.5em;
}

.input-message {
  position: fixed;
  bottom: 0px;
  margin-bottom: auto;
  width: 100%;
  display: flex;
}

.input-message > *, button {
  font-size: 1.6rem;
  padding: 0.4em;
  outline: none;
  border: none;
}

.input-message input {
  width: 100%;
  font-size: 1.2rem;
  background: rgb(238, 238, 238);
}

.login-buttons button {
  margin:  0.7em 0.7em 0.3em;
}

button {
  color: white;
  background-color: rgb(56, 56, 143);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  color: white;
  background-color: rgb(78, 78, 197);
}
.options {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  width: 8em;
  padding: 0.6em 0.3em;
  transform: translateX(-80%);
  background-color: rgb(56, 56, 103);
  z-index: 3;
}

.dropdownBlocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

.options {
  font-size: 2rem;
  margin: auto 0.4em;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

label {
  font-size: 1.3rem;
  color: white;
  margin-right: 1em;
}

.signin-form div input {
  font-size: 1.2rem;
  border: none;
}

.sign-in {
  color: #282c34;
  background: white;
  min-width: 120px;
  margin: 0 auto;
}

.sign-in.google {
  color: white;
  background-color: #db4437;
  transition: background-color 0.3s ease;
}

.sign-in.google:hover {
  color: #db4437;
  background-color: white;
}

.switch-login {
  color: white;
}

.switch-login p {
  margin: 0;
}

.switch-login span {
  color: deepskyblue;
  text-decoration: underline;
  cursor: pointer;
}

.fab {
  position: relative;
  top: 0.04em;
}

p {
  max-width: 500px;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-info .sent {
  text-align: end;
}

.message-info .received {
  text-align: start;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 9px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
