body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #282c34;
}

/* Width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  color: white;
  background-color: #191c24;
  border-bottom: #111318 0.03em solid;
  min-height: 10vh;
  z-index: 5;
}

.App-link {
  color: #61dafb;
}

.hide {
  display: none;
  transition: all 0.3s ease;
}

.main-page {
  display: flex;
  min-height: calc(90vh);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: calc(2.6rem + 2vmin);
  margin: 0;
}

h2 {
  font-size: 2.6rem;
}

h2, h3, h4, h5 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  color: #FFF;
}

h6 {
  margin: 0;
  color: #FFF;
  width: 100%;
}

.message {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.message-box {
  top: 10vh;
  min-height: 82vh;
  position: relative;
  padding: 0 1.5em 3.5em 1.5em;
}

.input-message {
  position: fixed;
  bottom: 0px;
  margin-bottom: auto;
  width: 100%;
  display: flex;
}

.input-message > *, button {
  font-size: 1.6rem;
  padding: 0.4em;
  outline: none;
  border: none;
}

.input-message input {
  width: 100%;
  font-size: 1.2rem;
  background: rgb(238, 238, 238);
}

.login-buttons button {
  margin:  0.7em 0.7em 0.3em;
}

button {
  color: white;
  background-color: rgb(56, 56, 143);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  color: white;
  background-color: rgb(78, 78, 197);
}

.save-button {
  margin-top: 0.6em;
  text-align: end;
}

.options {
  position: relative;
  cursor: pointer;
  right: 0.8em;
  top: 50%;
  transform: translateY(-50%);
}

.dropdownMenu {
  position: absolute;
  width: 13em;
  padding: 0.2em 0.3em;
  transform: translateX(-95%);
  background-color: rgb(56, 56, 103);
  z-index: 3;
}

.dropdownMenu Button {
  width: 100%;
  margin: 0.1em 0;
}

.dropdownBlocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

.options {
  font-size: 2rem;
  margin: auto 0.4em;
}

.option-photo {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%,-60%);
  padding: 1.3em;
  background-color: rgb(56, 56, 103);
  z-index: 3;
}

.settings input {
  font-size: 1.2rem;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form div {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

.signin-form div i {
  position: absolute;
  right: 10px;
  transform: translateY(40%);
  cursor: pointer;
}

label {
  font-size: 1.3rem;
  color: white;
  margin-right: 1em;
}

.signin-form div input {
  font-size: 1.2rem;
  border: none;
}

.sign-in {
  color: #282c34;
  background: white;
  min-width: 120px;
  margin: 0 auto;
}

.sign-in.google {
  color: white;
  background-color: #db4437;
  transition: background-color 0.3s ease;
}

.sign-in.google:hover {
  color: #db4437;
  background-color: white;
}

.switch-login {
  color: white;
}

.switch-login p {
  margin: 0;
}

.switch-login span {
  color: deepskyblue;
  text-decoration: underline;
  cursor: pointer;
}

.fab {
  position: relative;
  top: 0.04em;
}

p {
  max-width: 500px;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message-content {
  margin: 0 0 0.4em;
}

.reply {
  color: white;
  margin: auto 10px;
  cursor: pointer;
}

.reply-field {
  position: fixed;
  width: 100%;
  bottom: 50px;
  margin-bottom: auto;
  background-color: #111318;
}

.reply-field h3 {
  font-weight: 300;
}

.reply-message {
  top: 8px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.5s ease;
}

.reply-message .received {
  text-align: start;
}

.reply-message .sent {
  text-align: end;
}

.reply-text {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}

.received .reply-text {
  background: #bcbcc0;
}

.sent .reply-text {
  background: #b9e8f7;
  color: black
}

.reply-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  cursor: pointer;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-info .sent {
  text-align: end;
}

.message-info .received {
  text-align: start;
}

.received {
  flex-direction: row;
  position: relative;
  left: 10px;
}

.sent {
  flex-direction: row-reverse;
  position: relative;
  right: 10px;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  text-align: left;
}

.received p {
  background: #e5e5ea;
  color: black;
  align-self: flex-start;
  text-align: left;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 9px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
